In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_parquet('bike_data.parquet')

In [3]:
df.End_station.nunique()

666

In [4]:
df_loc1 = pd.read_csv('Capital_Bike_Share_Locations.csv')

In [5]:
df_loc2 = pd.read_csv('replace_old_to_active_stations.csv')

In [6]:
df_loc2.rename(columns={'station':'End_station','lat':'end_lat','lon':'end_lon','capacity':'End_capacity','station_number':'End_station_number'},inplace=True)
df_loc2

,End_station,end_lat,end_lon,nearest_station,dis_from_nearest_station,End_capacity,End_station_number
0,Lynn & 19th St North,38.897279,-77.070772,Lynn St & 19th St North,0.019611,27.0,31014
1,Connecticut Ave & Newark St NW / Cleveland Park,38.934236,-77.057663,Connecticut Ave & Macomb St NW / Cleveland Park,0.067510,11.0,31305
2,21st & M St NW,38.905837,-77.046658,New Hampshire Ave & Ward Pl NW,0.058703,19.0,31212
3,Columbia Pike & S Taylor St,38.858311,-77.103614,Columbia Pike & George Mason Dr,0.177073,15.0,31923
4,East Falls Church Metro/Sycamore St & 19th St N,38.884747,-77.155952,East Falls Church Metro / Sycamore St & 19th St N,0.076445,19.0,31904
...,...,...,...,...,...,...,...
111,6th & S Ball St,38.844194,-77.051357,Potomac Ave & 35th St S,0.073495,15.0,31090
112,Reston Station,38.946593,-77.339404,Wiehle Ave & Reston Station Blvd,0.002729,19.0,32215
113,Solutions & Greensboro Dr,38.922435,-77.230343,Greensboro & Pinnacle Dr,0.002931,13.0,32202
114,9th & F St NW / National Portrait Gallery,38.897474,-77.024143,7th & F St NW / National Portrait Gallery,0.169981,27.0,31232
115,8th & F St NW / National Portrait Gallery,38.897105,-77.023110,7th & F St NW / National Portrait Gallery,0.082036,27.0,31232

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26174341 entries, 0 to 26174340
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start_date            datetime64[ns]
 2   End_date              datetime64[ns]
 3   Start_station_number  int64
 4   Start_station         category
 5   End_station_number    int64
 6   End_station           category
 7   Bike_number           category
 8   Member_type           category
 9   ride_id               int64
dtypes: category(4), datetime64[ns](2), int64(4)
memory usage: 1.3 GB

In [9]:
df_loc2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   End_station               116 non-null    object
 1   end_lat                   116 non-null    float64
 2   end_lon                   116 non-null    float64
 3   nearest_station           116 non-null    object
 4   dis_from_nearest_station  116 non-null    float64
 5   End_capacity              116 non-null    float64
 6   End_station_number        116 non-null    int64
dtypes: float64(4), int64(1), object(2)
memory usage: 6.5+ KB

In [10]:
dict_ = df_loc2.set_index('End_station').to_dict()['nearest_station']

In [11]:
df = df.replace({"End_station": dict_})

In [12]:
df.End_station.nunique()

571

In [13]:
df.Start_station.nunique()

667

In [14]:
df_loc2.rename(columns={'End_station':'Start_station'},inplace=True)

In [15]:
dict_ = df_loc2.set_index('Start_station').to_dict()['nearest_station']

In [16]:
df = df.replace({"Start_station": dict_})

In [17]:
df.Start_station.nunique()

572

In [18]:
df_loc1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677 entries, 0 to 676
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   X                               677 non-null    float64
 1   Y                               677 non-null    float64
 2   OBJECTID                        677 non-null    int64
 3   LATITUDE                        677 non-null    float64
 4   LONGITUDE                       677 non-null    float64
 5   NAME                            677 non-null    object
 6   STATION_TYPE                    677 non-null    object
 7   STATION_ID                      677 non-null    int64
 8   STATION_STATUS                  677 non-null    object
 9   LAST_REPORTED                   677 non-null    object
 10  NUM_DOCKS_AVAILABLE             677 non-null    int64
 11  NUM_DOCKS_DISABLED              677 non-null    int64
 12  NUM_BIKES_AVAILABLE             677 non-null    int64
 13  NUM_EBIKES_AVAILABLE            677 non-null    int64
 14  NUM_BIKES_DISABLED              677 non-null    int64
 15  IS_INSTALLED                    677 non-null    object
 16  IS_RETURNING                    677 non-null    object
 17  IS_RENTING                      677 non-null    object
 18  HAS_KIOSK                       677 non-null    object
 19  IOS                             677 non-null    object
 20  ANDROID                         677 non-null    object
 21  ELECTRIC_BIKE_SURCHARGE_WAIVER  677 non-null    object
 22  EIGHTD_HAS_KEY_DISPENSER        677 non-null    object
 23  CAPACITY                        677 non-null    int64
 24  RENTAL_METHODS                  677 non-null    object
 25  REGION_ID                       677 non-null    int64
 26  GIS_LAST_MOD_DTTM               677 non-null    object
 27  GIS_ID                          0 non-null      float64
 28  REGION_NAME                     677 non-null    object
dtypes: float64(5), int64(9), object(15)
memory usage: 153.5+ KB

In [19]:
df_loc1 = df_loc1[['NAME','Y','X','CAPACITY']]

In [20]:
df_loc1 = df_loc1.rename(columns={'NAME':'End_station','Y':'end_lat','X':'end_lon','CAPACITY':'End_capacity'})
df_loc1

,End_station,end_lat,end_lon,End_capacity
0,Rhode Island Ave & V St NE,38.918166,-77.004753,19
1,Constitution Ave & 2nd St NW/DOL,38.892284,-77.013915,27
2,Washington & Independence Ave SW/HHS,38.886987,-77.013776,31
3,Independence Ave & L'Enfant Plaza SW/DOE,38.887318,-77.025763,15
4,Hamlin & 7th St NE,38.927507,-76.997200,15
...,...,...,...,...
672,Kingman Island/The Fields at RFK,38.895965,-76.967852,19
673,Kenilworth Terrace & Hayes St. NE,38.900480,-76.947295,19
674,National Harbor Carousel,38.785912,-77.016703,15
675,Valley Ave & Wheeler Rd SE,38.836658,-76.993587,19
676,Ridge Rd Community Center,38.876235,-76.940986,19

In [21]:
df = pd.merge(df_loc1,df,on='End_station',how='right')

In [28]:
print(df[df.end_lon.isna()].shape[0])
print(df[df.end_lat.isna()].shape[0])

0
0

In [23]:
df_loc1 = df_loc1.rename(columns={'End_station':'Start_station','end_lat':'start_lat','end_lon':'start_lon','End_capacity':'Start_capacity'})
df_loc1

,Start_station,start_lat,start_lon,Start_capacity
0,Rhode Island Ave & V St NE,38.918166,-77.004753,19
1,Constitution Ave & 2nd St NW/DOL,38.892284,-77.013915,27
2,Washington & Independence Ave SW/HHS,38.886987,-77.013776,31
3,Independence Ave & L'Enfant Plaza SW/DOE,38.887318,-77.025763,15
4,Hamlin & 7th St NE,38.927507,-76.997200,15
...,...,...,...,...
672,Kingman Island/The Fields at RFK,38.895965,-76.967852,19
673,Kenilworth Terrace & Hayes St. NE,38.900480,-76.947295,19
674,National Harbor Carousel,38.785912,-77.016703,15
675,Valley Ave & Wheeler Rd SE,38.836658,-76.993587,19
676,Ridge Rd Community Center,38.876235,-76.940986,19

In [24]:
df = pd.merge(df_loc1,df,on='Start_station',how='right')

In [25]:
print(df[df.start_lon.isna()].shape[0])
print(df[df.start_lat.isna()].shape[0])

0
0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26174341 entries, 0 to 26174340
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   Start_station         object
 1   start_lat             float64
 2   start_lon             float64
 3   Start_capacity        int64
 4   End_station           object
 5   end_lat               float64
 6   end_lon               float64
 7   End_capacity          int64
 8   Duration              int64
 9   Start_date            datetime64[ns]
 10  End_date              datetime64[ns]
 11  Start_station_number  int64
 12  End_station_number    int64
 13  Bike_number           category
 14  Member_type           category
 15  ride_id               int64
dtypes: category(2), datetime64[ns](2), float64(4), int64(6), object(2)
memory usage: 3.0+ GB

In [31]:
df = df[['ride_id',
         'Bike_number',
         'Duration',
         'Start_date','End_date',
         'Start_station','Start_station_number','Start_capacity',
         'End_station','End_station_number','End_capacity',
         'start_lat','start_lon',
         'end_lat','end_lon',
         'Member_type']]
df

,ride_id,Bike_number,Duration,Start_date,End_date,Start_station,Start_station_number,Start_capacity,End_station,End_station_number,End_capacity,start_lat,start_lon,end_lat,end_lon,Member_type
0,0,W00742,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,M St & New Jersey Ave SE,31208,17,4th & M St SW,31108,23,38.876304,-77.003702,38.876708,-77.017900,Member
1,1,W00032,61,2010-09-20 11:41:22,2010-09-20 11:42:23,1st & N St SE,31209,39,1st & N St SE,31209,39,38.874106,-77.005799,38.874106,-77.005799,Member
2,2,W00993,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,5th & K St NW,31600,19,19th St & Pennsylvania Ave NW,31100,15,38.903048,-77.019025,38.900303,-77.042899,Member
3,3,W00344,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,5th & K St NW,31600,19,Park Rd & Holmead Pl NW,31602,35,38.903048,-77.019025,38.930809,-77.031499,Member
4,4,W00883,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,19th St & Pennsylvania Ave NW,31100,15,15th & P St NW,31201,19,38.900303,-77.042899,38.909810,-77.034430,Member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26174336,26174336,W21285,130,2019-12-31 23:57:36,2019-12-31 23:59:46,Crystal Dr & 23rd St S,31011,17,Crystal Dr & 27th St S,31009,12,38.852935,-77.049725,38.848475,-77.051519,Member
26174337,26174337,W24197,664,2019-12-31 23:57:47,2020-01-01 00:08:51,15th & W St NW,31125,19,8th & O St NW,31281,19,38.919026,-77.034446,38.908651,-77.022773,Member
26174338,26174338,W21281,389,2019-12-31 23:59:37,2020-01-01 00:06:06,Braddock Rd Metro South,31047,19,Mount Vernon Ave & E Nelson Ave,31085,11,38.813485,-77.053739,38.820068,-77.057625,Member
26174339,26174339,W00534,962,2019-12-31 23:59:38,2020-01-01 00:15:40,37th & O St NW / Georgetown University,31236,23,17th & Corcoran St NW,31214,19,38.907748,-77.071658,38.912106,-77.038697,Member
26174340,26174340,W22782,183,2019-12-31 23:59:55,2020-01-01 00:02:58,13th St & New York Ave NW,31227,23,15th & K St NW,31254,27,38.900290,-77.029826,38.902009,-77.033527,Member

In [32]:
df.to_parquet('bike_data_10-19.parquet')